<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bem-vindo à Página Inicial!</h1>
    <p>Clique no link abaixo para acessar a página de verificação de números:</p>
    <a href="/verificar">Verificar Números</a>
    <br>
    <a href="/verificar-numeros">Verificar Números Faltantes</a>
    <br>
    <a href="/verificar-sorteio">Verificar Sorteio</a>
</body>
</html>