<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bem-vindo à Página Inicial!</h1>
    <p>Clique nos links abaixo para acessar as funcionalidades:</p>
    <div class="links-container">
        <a href="/verificar">Verificar Números</a>
        <a href="/verificar-numeros">Verificar Números Faltantes</a>
        <a href="/verificar-sorteio">Verificar Sorteio</a>
        <a href="/gerar-combinacoes-page">Gerar Combinações</a>
    </div>
</body>
</html>