<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Sorteio Lotofácil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        async function checkLotofacil() {
            const input = document.getElementById("numeros").value.trim();
            const numbers = input ? input.split(/[\s\t]+/).map(Number) : [];
            const resultDiv = document.getElementById("result");

            if (numbers.length !== 15) {
                resultDiv.innerHTML = `<p style="color: red;">Erro: A sequência da Lotofácil deve conter exatamente 15 números.</p>`;
                return;
            }

            const response = await fetch("/check-lotofacil", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ sequence: numbers }),
            });

            const result = await response.json();

            // Formata a mensagem
            let message = "";
            if (result.message.includes("nunca foi sorteada")) {
                message = `<div class="result-message alert-nao-sorteado">
                            <p>A sequência <strong>${numbers.join(", ")}</strong> nunca foi sorteada.</p>
                        </div>`;
            } else {
                // Extrai o número do concurso da mensagem
                const concurso = result.message.match(/concurso (\d+)/)[1]; // Expressão regular modificada
                message = `<div class="result-message alert-sorteado">
                            <p>A sequência <strong>${numbers.join(", ")}</strong> já foi sorteada no concurso <strong>${concurso}</strong>.</p>
                        </div>`;
            }

            resultDiv.innerHTML = message;
        }

        function voltarParaHome() {
            window.location.href = "/";
        }

        document.addEventListener("DOMContentLoaded", function() {
            const inputNumeros = document.getElementById("numeros");
            inputNumeros.addEventListener("keyup", function(event) {
                if (event.key === "Enter") {
                    checkLotofacil();
                }
            });
        });
    </script>
</head>
<body>
    <h1>Verificar Sorteio Lotofácil</h1>
    <p>Digite 15 números (entre 1 e 25 separados por espaço ou tabulação):</p>
    <input type="text" id="numeros">
    <button onclick="checkLotofacil()">Verificar</button>
    
    <div id="result"></div>

    <div class="centralizar-botao">
        <button id="botao-voltar" onclick="voltarParaHome()">Voltar para a Home</button>
    </div>
</body>
</html>